# Useful extensions
github "Wolox/wolmo-core-ios" "swift-5-updates"
github "Wolox/wolmo-networking-ios" "swift-5-updates"

# Reactive Core
github "Wolox/wolmo-reactive-core-ios" "swift-5-updates"

# Miscellaneous
github "rollbar/rollbar-ios" "master"

# Requests logger
github "pmusolino/Wormholy"